:root {
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 500;
}

.nav {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  border-bottom: 1px solid black;
  justify-items: center;
  height: 40px;
}
.wordle-container {
  height: 50%;
}
.wordle {
  margin-top: 0px;
}
.equalizer,
.help {
  margin-top: 9px;
}
.game {
  width: 90%;
  margin: auto;
  margin-top: 60px;
}
.invalid {
  width: 40%;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
  background-color: red;
  color: white;
}
.guess {
  width: 80%;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 5px;
  justify-content: center;
  margin: auto;
  margin-bottom: 50px;
}
.guess-row {
  display: grid;
  grid-template-columns: repeat(5, 19%);
  grid-gap: 5px;
}
.guess-column {
  border: 1px solid black;
  height: 30px;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.letter {
  width: 100%;
  margin: auto;
  text-align: center;
}
.keyboard {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 10px;
}
.key1 {
  display: grid;
  grid-template-columns: repeat(10, 8%);
  justify-content: center;
  grid-gap: 7px;
}
.key2 {
  display: grid;
  grid-template-columns: repeat(9, 8%);
  justify-content: center;
  grid-gap: 7px;
}
.key3 {
  display: grid;
  grid-template-columns: 18% repeat(7, 8%) 12%;
  justify-content: center;
  grid-gap: 7px;
}
.keys {
  background-color: #d8d8d8;
  border-radius: 4px;
  text-align: center;
}
.enter,
.del {
  background-color: rgb(216, 216, 216);
  border-radius: 4px;
  text-align: center;
}
.enter > p,
.del > p {
  font-size: 16px;
}
.playagain {
  width: 40%;
  margin: auto;
  margin-bottom: 10px;
}
.playagain > p {
  margin-bottom: 3px;
  margin-top: 3px;
  text-align: center;
}
.playbutton {
  width: 70%;
  margin-left: 10%;
  background-color: green;
  color: white;
  padding: 5px;
  border-radius: 3px;
}
.stats {
  border: 1px solid gray;
  border-radius: 5px;
  background-color: white;
  width: 80%;
  margin: auto;
  position: absolute;
  z-index: 2;
  top: 150px;
  left: 10%;
  padding-bottom: 20px;
  padding-left: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.statsheader {
  width: 40%;
  margin: auto;
}
.guesses {
  width: 80%;
  margin: auto;
}
.statistics {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 20%);
  justify-content: center;
  grid-gap: 10px;
}
.guess-distribution {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 10px;
  margin-top: 10px;
}
.rowlabel {
  display: grid;
  grid-template-columns: 5% 90%;
  grid-gap: 5px;
}
div > h2 {
  text-align: center;
  margin-bottom: 3px;
}
.bar {
  background-color: gray;
  color: white;
  text-align: right;
}
.cancel {
  margin-left: 90%;
  margin-top: 5px;
}
.howtoplay {
  width: 40%;
  margin: auto;
}
.example {
  display: grid;
  grid-template-columns: repeat(5, 50px);
  grid-gap: 5px;
}
.block {
  border: 1px solid black;
  height: 45px;
  text-align: center;
}
.block > p {
  margin-top: 11px;
  font-size: 21px;
}
.green {
  background-color: green;
  color: white;
}
.grey {
  background-color: grey;
  color: white;
}
.yellow {
  background-color: gold;
  color: white;
}
@media (min-width: 900px) {
  .nav {
    width: 40%;
  }
  .game {
    width: 30%;
  }
  .stats {
    width: 40%;
    left: 30%;
  }
}
